body{
    margin: auto;
    width: 720px;
    border: 2px solid black;
}
header, .acciones{
  text-align: center;
}
div{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

#charPosition{
    display: flex;
    justify-content: space-between;
}
#charPosition > div{ /*Con esto se maneja el contenedor donde esta cada grupo de personajes*/
    height: 20em;
    padding: 5px;
    align-content: center;
}
#enemyBlock{ /*Con esto controlaremos que el grupo de enemigos se ubique en posiciones dependiendo de la cantidad que sean*/
    height: 30em;
    width: 50em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#enemyBlock:has(strong){
   text-align: center;
   background-color: rgb(124, 159, 211);
   display: block;
   
}

#stats-player,.stats-enemy{
width: 7.5em;
height: 7.5em;
margin: 1em auto;

/*Aqui se configura el tamaño de la caja de los personajes del escenario. Deberia ser un cubo con tamaño fijo */
}
#mapa{
    height: 27em;
    background-color: rgb(197, 214, 214);
    display: grid;
    grid-template-columns: repeat(14, 3em);
    grid-template-rows: repeat(10, 3em);
    gap: 0px;
}
#mapa div{
    background-color: red;
    margin: 0;
}
#cuadricula{
    border: 2px solid black;
    background-color: red;
    width: 60px;
    height: 60px;
    margin: 0;
}
