body{
    margin: auto;
    width: 1100px;
    border: 2px solid black;
    position: relative;
    
}
.bigContainer{
padding: 2.2em;
}
header, .acciones{
  text-align: center;
}
div{
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
}

#charPosition{
    display: flex;
    justify-content: space-between;
    width:720px ;
    margin: auto;
}
#charPosition > div{ /*Con esto se maneja el contenedor donde esta cada grupo de personajes*/
    height: 20em;
    padding: 5px;
    align-content: center;
 
}
#enemyBlock{ /*Con esto controlaremos que el grupo de enemigos se ubique en posiciones dependiendo de la cantidad que sean*/
    height: 30em;
    width: 50em;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}
#enemyBlock:has(strong){
   text-align: center;
   background-color: rgb(124, 159, 211);
   display: block;
   
}

#stats-player,.stats-enemy{
width: 7.5em;
height: 7.5em;
margin: 1em auto;

/*Aqui se configura el tamaño de la caja de los personajes del escenario. Deberia ser un cubo con tamaño fijo */
}
#mapa{
    height: 27em;
    background-color: rgba(32, 34, 34, 0.788);
    display: grid;
    grid-template-columns: repeat(14, 3em);
    grid-template-rows: repeat(10, 3em);
    gap: 0px;
    
    /*background-image: url("../images/mapImage.jpg"); imagen de fondo y encima superpuesto queda la cuadricula. AJUSTAR*/ 
    
}
#mapa div{
     background-color: rgba(32, 34, 34, 0.342);
    margin: 0.02em;
}
#cuadricula{
    border: 2px solid black;
    background-color: red;
    width: 60px;
    height: 60px;
    margin: 0;
}

.rightSide{
position: absolute;
right: 1em;
top: 10.0em ;
width: 19em;
height:26em;
background-color: rgb(221, 221, 221);
}